Source: ros-hydro-urdfdom
Section: misc
Priority: extra
Maintainer: John Hsu <hsu@osrfoundation.org>, Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libtinyxml-dev, ros-hydro-catkin, ros-hydro-console-bridge, ros-hydro-urdfdom-headers (>= 0.2.3)
Homepage: http://ros.org/wiki/urdf
Standards-Version: 3.9.2

Package: ros-hydro-urdfdom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libtinyxml-dev, ros-hydro-catkin, ros-hydro-console-bridge, ros-hydro-urdfdom-headers (>= 0.2.3)
Description: A library to access URDFs using the DOM model.
